body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #132247;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.weathercard {
  width: 300px ;
  margin-top: 20px;
  padding-top: 20px;
  background: url("./assets/img/snow.gif")no-repeat center center/cover ;
   color: antiquewhite;
  text-shadow: 0 0 7px #13394e ;
  border-radius: 10px;

  box-shadow: 0 0 10px #ccc inset;
   h2 {
     font-size: 30px;
   }
  p {
    font-size: 20px;

  }
  option , .form-control  {
    background: #0b469f;
    color: antiquewhite;
    border: none;
    font-size: 20px;
    letter-spacing: 0.1rem;
    &:hover {
      cursor: pointer;
      background: #0d3d94;
      color: #faf7f6;

    }


  }

}
@media (max-width: 470px) {

.weathercard {
  body {
    background: #102324;
  }
  //background: url("./assets/img/snow.4.jpg")no-repeat center center/cover ;
   color: white;
  text-shadow: 0 0 10px #0f151a;

  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;


  width: 100%;
  height: 100vh;
}
  
}
